@import "../node_modules/normalize.css/normalize.css";

$pimary-color: #00D8D6;
$secondary-color: #F6FCFF;

html {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

	min-height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: $secondary-color;
	background: linear-gradient($secondary-color 30%, $pimary-color 100%);
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

img {
	max-width: 100%;
	height: 100%;
}

// #root {
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// }

.my-app {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	flex-basis: auto;
}

.my-logo {
	display: flex;
  justify-content: center;
  h1{
    font-size: 3rem;
  }
}

.sticky {
	position: fixed;
	width: 100%;
	top:0;

	transition: all 1s ease;
}

#sticky-helper {
	position: static;
	width: 100%;
}

.my-nav {
	display: flex;
  justify-content: center;
  li {
    padding-right: 1rem;
    padding-left: 1rem;
    display: inline-flex;
		a {
			font-weight: bolder;
			color: gray;
			text-decoration: none;
			&:hover, &.active {
				color: $pimary-color;
			}
		}
	}
}

.my-input-area {
	display: flex;
  justify-content: center;
	margin-bottom: 8px;

  input{
    width: 45%;
		height: 4rem;
		font-size: 2rem;
		border: 0;
		margin: 0;
  }
  button {
    padding:0;
    margin:0;
    width: 5%;

		color: $pimary-color;
		background-color: white;
		background-repeat:no-repeat;
		border: 0;
		cursor:pointer;
		overflow: hidden;
		outline:none;
  }

	button, input {
		box-shadow: 0 5px 1px -2px rgba(gray, 0.75);
	}

}

.my-todo-list {
	display: flex;
  justify-content: center;
  table {
		background: white;
		table-layout: fixed;
    width: 50%;
		border-collapse: collapse;

		tbody{
			border-bottom: 3px outset gray;
		}

		tr {
			height: 2rem;
		}
		td {
			text-align: center;
			font-size: 1.5rem;
			cursor: pointer;
		}
		td.check {
			width: 15%;
			font-size: 2rem;
			i {
				color: $pimary-color;
			}
			i.fa-check-circle {
				color: gray;
			}
		}
		td.text {
			width: 70%;
			font-size: 2rem;
			text-align: left;
			color: $pimary-color;
			input {
				width: 100%;
			}
			&:hover{
				background-color: #DEECFB;
			}
			span.completed {
				text-decoration: line-through;
				color: gray;
			}
		}
		td.star {
			width: 15%;
		}
		td.star {
			i.fa-star {
				color: yellow;
			}
			&:hover {
				color: yellow;
			}
		}
		td.trash:hover {
			color: red;
		}
  }
}

@media all and (max-width: 780px) {
	.my-logo {
		h1 {
			font-size: 2rem;
		}
	}

	.my-nav {
	  li {
			font-size: 1.2rem;
	    padding-left: 0.3rem;
	  }
	}

	.my-input-area {
		input {
			width: 70%;
		}
		button {
			width: 10%;
		}
	}

	.my-todo-list {
		table {
			width: 80%;
			td.check {
				font-size: 1.5rem;
			}
			td.text {
				font-size: 1rem;
			}
		}
	}
}
